@model MyBudget.Web.AspNet.Models.BudgetDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Budget</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Budget.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget.CurrencyISOCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget.CurrencyISOCode)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Budget.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget.OwnerUsername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget.OwnerUsername)
        </dd>

        <dt>
            Categories
        </dt>
        <dd>
            @foreach (var category in Model.Categories)
            {
                <span><a href="@Url.Action(MVC.Category.Edit(Model.Budget.Id, category.Id))">@category.Name</a></span>
            }
        </dd>
        <dt>
            DistributionKeys
        </dt>
        <dd>
            @foreach (var dk in Model.DistributionKeys)
            {
                <span><a >@dk</a></span>
            }
        </dd>
    </dl>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Budget.Id }) |
    @Html.ActionLink("Add Category", MVC.Category.Actions.Create(Model.Budget.Id)) |
    @Html.ActionLink("Add Distribution Key", MVC.DistributionKey.Actions.Create(Model.Budget.Id,
    Url.Action(MVC.Budgets.Details(Model.Budget.Id)))) |

    @Html.ActionLink("Back to List", "Index")


</p>
