@model MyBudget.Web.AspNet.Models.BudgetListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">


@foreach (var item in Model.Budgets) {
    <tr>
        <td>
            @item.Name
        </td>
        <td>
            @item.Created
        </td>
        <td>
            @item.OwnerUsername
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Stats", MVC.BudgetStats.Index(item.Id)) |
            @Html.ActionLink("Lines", MVC.Lines.Page(item.Id, null, null, null)) |
            @*@Html.ActionLink("Lines", "Index", "Lines", new { id = item.Id }, new object()) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
