@model MyBudget.Web.AspNet.Models.BudgetLinesPagedViewModel

@{
    ViewBag.Title = "Lines";
}

<h2>Lines</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = Model.BudgetId })
    @if (Model.FirstLinkVisible())
    {
        <a id="linkFirst" onclick='return goToPage(0)'>First</a>
    }
    @if (Model.PrevLinkVisible())
    {
        <a id="linkPrev" onclick='return goToPage(@(Model.PageIndex - 1))'>Prev</a>
    }
    @if (Model.NextLinkVisible())
    {
        <a id="linkNext" onclick='return goToPage(@(Model.PageIndex + 1))'>Next</a>
    }
</p>

<div>
    @using (Html.BeginForm(MVC.Lines.Page(), FormMethod.Get, new { id = "search" }))
    {
        @Html.HiddenFor(b => b.BudgetId);

        <input id="pageIndex" name="pageIndex" type="hidden" />

        <div class="input-daterange" id="datepicker" style="display:inline">
            <input type="text" class="input-small" name="from" id="From" value="@Model.GetFormattedFrom()" />
            <span class="add-on">to</span>
            <input type="text" class="input-small" name="to" id="To" value="@Model.GetFormattedTo()" />
        </div>
        @Html.DropDownListFor(c=> c.Category, Model.GetCategories())
        
        <input type="submit" value="Search" class="btn btn-default" />
    }


</div>



<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Category
        </th>
        <th>
            Description
        </th>
        <th>
            Amount
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Lines)
    {
        <tr>
            <td>
                @item.Date.ToString("d")
            </td>
            <td>
                @Model.CategoryNameFor(item)
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.Amount
            </td>
            <td>
                @Html.ActionLink("Edit", MVC.Lines.Actions.Edit(Model.BudgetId, item.Id)) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>


@section Scripts {

    <script type="text/javascript">
        var baseUrl = '@(MVC.Lines.Page())?budgetId=@(Model.BudgetId)&';

        var goToPage = function (pageIndex) {
            var idx = document.getElementById("pageIndex");
            idx.value = pageIndex;
            document.getElementById("search").submit();
        }

        var updateUrls = function () {
            var from = $("#From").val();
            var to = $("#To").val();


            var first = $("#linkFirst");
            first.attr("href", baseUrl + from + '&' + to);

            var prev = $("#linkPrev");
            prev.attr("href", baseUrl + from + '&' + to);

            var next = $("#linkNext");
            next.attr("href", baseUrl + from + '&' + to);
        }

        $('#datepicker').datepicker({
            format: "dd/mm/yyyy",
            // language: "it",
            autoclose: true,
            todayHighlight: true
        });//.on('changeDate', updateUrls);

    </script>
}