@model MyBudget.Web.AspNet.Controllers.BudgetStatsByCategoryViewModel
@{
    ViewBag.Title = "ByCategory";
}

<h2>ByCategory</h2>

<div class="form-horizontal">
    @using (Html.BeginForm(MVC.BudgetStats.ByCategory()))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(b => b.BudgetId);
        <div class="form-group">
            <label class="control-label col-md-2">
                @Model.From
            </label>
            <div class="col-md-10">
                <div class="text-box single-line">
                    <input class="text-box single-line" id="From" name="From" value="@Model.From" data-date-format="dd/mm/yyyy">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                @Model.To
            </label>
            <div class="col-md-10">
                <div class="text-box single-line">
                    <input class="text-box single-line" id="To" name="To" value="@Model.To" data-date-format="dd/mm/yyyy">
                </div>
            </div>
        </div>
        
         <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    }
</div>

<div class="form-horizontal">

    @foreach (var category in Model.Categories)
    {
        <div class="form-group">
            <label class="control-label col-md-2">
                @category.Category
            </label>
            <div class="col-md-10">
                <div class="text-box single-line">
                    @category.Amount
                </div>
            </div>
        </div>
    }

</div>


@section Scripts {
    <script type="text/javascript">
        $('#From').datepicker();
        $('#To').datepicker();
    </script>
}
