@model MyBudget.Web.AspNet.Controllers.DistributionKeyViewModel
@{
    ViewBag.Title = "Create";
}

<h2>New Distribution Key</h2>


@using (Html.BeginForm(MVC.DistributionKey.Create(), FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Model.BudgetName</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class="control-label col-md-2" for="Name">Name</label>
            <div class="col-md-10">
                <input name="Name" class="text-box single-line" id="Name" type="text" value="@Model.Name">
                <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="Name"></span>
            </div>
        </div>

        @*<div class="form-group">
            <label class="control-label col-md-2" for="Name">Description</label>
            <div class="col-md-10">
                <input name="Description" class="text-box single-line" id="Description" type="text" value="@Model.Description">
                <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="Description"></span>
            </div>
        </div>*@
        <input hidden id="ReturnUrl" name="ReturnUrl" value="@Model.ReturnUrl" />
        <input hidden id="BudgetId" name="BudgetId" value="@Model.BudgetId" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}